## Template for .env
## Copy this to .env and change according to your needs.

DEBUG=TRUE
SECRET_KEY="EXTREMELY_SECRET_KEY_THAT_YOU__NEED_TO_CHANGE"
DATABASE_URL="postgres://djangox:djangox123@localhost:5433/djangox"
